/* Tooltip text */

.menubutton {
    /* background-color: white; */
    /* outline-color: black; */
    /* width: 40px; */
    width: auto;
    min-width: 50px;
    height: 52.8px;
    resize: horizontal;
    display: inline-block;
    /* border: 1px solid black; */
    /* color: #70747c; */
    color: black;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 2px 2px;
    cursor: pointer;
    z-index: 2;
    /* border-radius: 6px; */
    /* box-shadow: 4px 6px 3px rgb(0 0 0 / 40%); */
}

.menubutton .tooltipText {
    visibility: hidden;
    width: 120px;
    height: 21px;
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    /* border-radius: 6px; */
    /* Position the tooltip text */
    position: absolute;
    z-index: 30;
    bottom: 125%;
    z-index: 9999999999999;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
    outline: 1px solid #557da5;
    font-size: 12px;
}


/* Show the tooltip text when you mouse over the tooltip container */

.menubutton:hover .tooltipText {
    visibility: visible;
    opacity: 1;
    margin-left: -2px;
}

.menubutton:hover {
    background-color: #cfcfcf;
}

.buttonName {
    text-align: center;
    font-size: 12px;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 2px;
}