.select-editable {
    position: relative;
    background-color: white;
    border: solid grey 1px;
    width: 80px;
    height: 20px;
    margin-top: 2.5px;
}

.select-editable select {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 14px;
    border: none;
    width: 78px;
    margin: 0;
}

.select-editable input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80px;
    padding: 1px;
    font-size: 12px;
    border: 0;
    outline: 0;
}

.select-editable select:focus,
.select-editable input:focus {
    outline: none;
}