.box {
  display: inline-block;
  background: linear-gradient(25deg, #F13F79, #FFC778); 
  color: white;
  font-size: 25px;
  padding: 40px;
  width: 300px;
  height: 300px;
}

.btn {
  width: 30px;
  height: 30px;
  background: #FFF;
  border: 1px solid #005bac;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #005bac;
  padding: 15px 10px 5px;
  position: fixed;
  text-align: center;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
	transition: all 0.3s ease;
  z-index: 1;
}
.btn:hover {
  background: #eef;
}

.zoom {
  bottom: 190px;
}

.zoom-out {
  bottom: 120px;
}
.zoom-init {
  bottom: 50px;
}